@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background: #F5F5F5;
    font-family: "Roboto";
    color: #000000;
    font-size: 16px;
    line-height:18px;
    margin:0;
}


.main-header{
    background: #303030;  
    color:#FFFFFF;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    height:60px;
    width:100%;
    display:flex;
}
.nav-icon{
    margin-left:22px;
    margin-top:19px;
}
.small-logo{
    margin-left:11px;
    margin-top:7px;
    
}
.profile{
    display:flex;
    margin-right:auto;;
}

.profile img{
    margin-top:19px;
    margin-left: 47px;
}

.profile p{
    margin-left:15px;
    margin-top:22px;
}
.settings-icon{
    margin-right:15px;
    margin-top:15px;
}

.exit{
    display:flex;
    margin-right:30px;
}

.exit img{
    margin-top:19px;
    margin-right: 9px;
}

.exit p{
    margin-top:22px;
}




main{
    display:flex;
}

.navigation{
    width:224px;
    margin-top:53px;
    font-size: 22px;
    line-height: 30px; 
    font-weight: 300;
    align-items: center;
}

.navigation h2{
    font-size: 22px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top:29px;
    padding-left:16px;
    font-weight: 400;
    
}


.name-role{
    height:47px;
    background: #F9EFE5;;
    color: #F57C00;
    font-size: 22px;
    line-height: 30px;

    align-items: center;
    display:flex;
    justify-content: center;
}
.name-role-value{
    height:170px;
    text-align: center;
    padding-top:30px;
}

.roles ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
    padding-bottom:100px;

}
.roles li p{
    text-align: center;
    margin-bottom:3px;
}










.profile-info{
    width: 613px;
    margin: 0 auto;
    margin-top:53px;
}

/*input{
    width: 237px;
    height: 26px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;

    color: #F57C00;
    margin-left:80px;
    margin-bottom:2px;
}*/

.main-profile h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 18px;
    margin-left:195px;
    margin-top:0;
    margin-bottom:52px;
}
.main-profile img{
    border-radius: 80px;
    display: block;
    margin-left:197px;
    margin-right:auto;
    margin-bottom:27px;
}

.photo{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-left:64px;
    width:400px;
}
.photo_edit{
    background: #FFFFFF;
    border: 1px solid #F57C00;
    border-radius: 30px;
    text-align: center;
    color: #F57C00;
    width: 160px;
    height: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.photo_del{
    text-align: center;
    color: #F57C00;
    margin-bottom: 39px;
}
.education-h{
    margin-left:198px;
}
.contact-h{
    margin-left:214px;
    margin-top:13px;
}

.inp{
   background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    width: 70px;
    height: 20px;
    color: #F57C00;
    padding: 0 90px;
}


.profile-info h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top:0;
}
.grid-container{
    display:grid;
    grid-template-columns:220px 190px 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color:black;
    margin-left:40px;
    margin-bottom:12px;
    font-weight: 400;
}

.inf{
    margin-left:auto;
    color: #F57C00;
}
.link-pen{
    margin-left:auto;
}

.hidden-nav{
    display: none;
}


















